# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=

# URL used by `npx convex deploy`
VITE_CONVEX_URL=
VITE_CONVEX_SITE_URL=

# TURN server url and credentials
VITE_TURN_HOST=
VITE_TURN_USERNAME=
VITE_TURN_CREDENTIAL=